%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:issues, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:issues, :new)

.tabs-content
  = form_for :issue, url(:issues, :create), :class => 'form-horizontal' do |f|
    =partial 'issues/form', :locals => { :f => f }
